body {
    --primary-moderate-blue: hsl(238, 40%, 52%);
    --primary-soft-red: hsl(358, 79%, 66%);
    --primary-light-grayish-blue: hsl(239, 57%, 85%);
    --primary-pale-red: hsl(357, 100%, 86%);

    --neutral-dark-blue: hsl(212, 24%, 26%);
    --neutral-grayish-blue: hsl(211, 10%, 45%);
    --neutral-light-gray: hsl(223, 19%, 93%);
    --neutarl-very-light-gray: hsl(228, 33%, 97%);


    padding: 0;
    margin: 0;
    font-family: "Rubik";
    font-size: 16px;
    min-height: 100dvh;
    background-color: var(--neutarl-very-light-gray);
    
}

.comment-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment-container {
    width: min(90%, 780px);
    position: relative;
}

.replies-to-parent {
    margin-left: 5rem;
    position: relative;
}

.line {
    background-color: lightgray;
    width: 3px;
    height: 100%;
    position: absolute;
    left: -2rem;
    cursor: pointer;
}

.line:hover {
    background-color: var(--primary-moderate-blue);
}

.show-replies{
    border: 0;
    background-color: transparent;
    font-size: 14px;
    color: var(--neutral-grayish-blue);
    cursor: pointer;
}

.comment-card {
    margin: 1rem auto;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    position: relative;
}

.vote-container {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--neutarl-very-light-gray);
    height: auto;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
}

.vote-container> * {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-container>label {
    font-weight: 500;
    min-width: 20px;
    color: var(--primary-moderate-blue);
}

.vote-container>button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}
.voted-active path{
    fill: #191dff;
}
.vote-container svg{
    pointer-events: none;
}

.comment-details {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex: 1;
}

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
    cursor: pointer;
}

.delete-modal{
    font-size: 16px;
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 300px;
    font-family: "Rubik";
    color: var(--neutral-grayish-blue);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.delete-modal > h5{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.modal-buttons{
    display: flex;
    justify-content: space-around;
}

.delete-modal button{
    box-sizing: border-box;
    padding: 10px 15px;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.modal-cancel{
    background-color: var(--neutral-grayish-blue);
}
.modal-delete{
    background-color: var(--primary-soft-red);
}

.user-details {
    display: flex;
    align-items: center;
}

.user-details>span {
    margin-left: 1rem;
    font-weight: 400;
    color: var(--neutral-grayish-blue);
}

.user-details>a {
    font-weight: 500;
    font-size: 16px;
    color: var(--neutral-dark-blue);
}

.user-avatar {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.user-avatar>img {
    width: 100%;
    height: 100%;
}

.div-wrapper{
    margin-left: auto;
}

.comment-update-container {
    border: 0;
    height: auto;
    top: 30px;
    right: 25px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: auto;
    font-size: 16px;
}

.comment-update-container>button, .cancel-button {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    font-weight: 700;
    gap: 8px;
    letter-spacing: 0.8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.useroptions-container svg {
    pointer-events: none;
}

.delete-reply {
    color: var(--primary-soft-red);
}

.delete-reply:hover {
    background-color: hsl(353, 100%, 98%);
}

.edit-reply,
.reply {
    color: var(--primary-moderate-blue);
}

.edit-reply:hover,
.reply:hover {
    color: var(--primary-moderate-blue);
    background-color: rgb(233, 251, 255);
}

.edit-reply,
.reply-to {
    font-weight: 700;
    color: var(--primary-moderate-blue);
}

.comment>p {
    display: inline;
}

.comment-content {
    color: var(--neutral-grayish-blue);
    font-weight: 5400;
    line-height: 1.5;
    font-size: 16px;
}

.userinput {
    display: flex;
    padding: 20px;
    height: auto;
    width: min(100%, 780px);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: start;
    background-color: white;
    margin: 1rem 0;
}

.userinput-avatar {
    height: 50px;
    width: 50px;
}

.userinput-avatar>img {
    height: 100%;
    width: 100%;
}

.userinput-textarea{
    margin-left: 2rem;
    margin-right: 2rem;
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    box-sizing: border-box;
    height: 120px;
    padding-bottom: 60px;
    font-family: "Rubik";
    border: 1px solid lightgray;
    letter-spacing: 1px;
    overflow-y: auto;
    resize: none;
    font-weight: 100;
    width: 100%;
}

.userinput-textarea::placeholder {
    font-family: "Rubik";
}

.userinput-textarea:focus {
    outline: none;
}

.userinput-button {
    border-radius: 10px;
    padding: 15px;
    height: auto;
    background-color: var(--primary-moderate-blue);
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.userinput-button:hover{
    background-color: var(--primary-light-grayish-blue);
}

.container-for-buttons{
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    gap: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



.clone-this-section {
    display: none;
}


@media screen and (max-width: 562px) {
    .comment-card{
        position: relative;
        flex-direction: column-reverse;
        padding: 25px 10px;
    }
    .comment-details{
        margin-left: 0.5rem;
    }
    .div-wrapper{
        position: absolute;
        bottom: 1.75rem;
        right: 20px;
    }
    .comment-update-container{
        gap: 0px;
        font-size: 12px;
    }
    .delete-reply{
        right: 90px !important;
    }
    .vote-container{
        flex-direction: row;
        margin-top: 1rem;
    }
    .vote-container > *{
        width: 30px;
    }
    .line{
        left: -0.8rem;
    }
    .replies-to-parent{
        margin-left: 1rem;
    }
    .userinput-textarea{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
